/* google font  */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Rubik:ital,wght@1,500&display=swap');


/* navbar style  */
.navbar-light .navbar-brand {
	color: #d80f19;
	font-size: 25px;
}
.banner-section{
    margin-top: 50px;
}
.text-left{
    margin-top: 50px;
}
.text-left h4 {
    font-family: 'Rubik', sans-serif;
}
.text-left h1{
    font-size: 50px;
    font-family: 'Bebas Neue', cursive;
    color: #d80f19;
}
.text-left h3{
    font-family: 'Rubik', sans-serif;

}
.text-left a{
    background-color: #d80f19;
    font-size: 25px;
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;

}
  /* About section start  */
.About-section{
    margin-top: 120px;
}
.section-title{
    font-size: 35px;
    color: #d80f19;
    font-family: 'Bebas Neue', cursive;
}
.cv-btnn a{
    background-color: #d80f19;
    font-size: 25px;
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;

}
.all-icon-here .all-icon{
    font-size: 30px;
    color: #d80f19;
}
.section-title{
    font-family: 'Bebas Neue', cursive;
    font-size: 25px;
    color: #d80f19;
    
}
.progress .bar-items{
    background-color: #d80f19;
}
/* last works  */
.last-works{
    margin-top: 100px;
}
.last-works-title{
    font-family: 'Bebas Neue', cursive;
    font-size: 35px;
    color: #d80f19;
    padding: 15px 0px;
}
.last-work a{
    text-decoration: none;

}




/* what i do you  */
.what-i-do-title{
    font-size: 35px;
    font-family: 'Bebas Neue', cursive;
}
.what-i-do{
    margin: 100px;
}
.what-i-do-items{
   text-align: center;
}
.what-i-do-items span{
    font-size: 40px;
    color: #d80f19;
}
.what-i-do-items h3{
    font-size: 35px;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    padding: 10px;
    
}
/* hire me  */
.hire-me-section .hire-me{
    background:#d80f19;
    border-radius: 10px;
}
.hire-me-section {
    margin-top: 3rem;
	height: 251px;
	
}
.hire-info{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 80px 0px;
   color: #fff;
}
.hire-info a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    border: 1px solid #fff;
    padding: 5px 10px;
    border-radius: 5px;
    margin-top: 5px;

}
.hire-info:hover > a{
    background: chocolate;
}

/* contact section  */

.contact-section{
    margin-top: 100px;
}

.testimonials-section{
    margin-top: 120px;
}
.testimonials-items span i{
    font-size: 30px;
    color: #d80f19;
}
.testimonials-pic img{
    border-radius: 50px;
    box-shadow: rgba(0,0,0,0.3);
}
.email-icon span{
    color: #d80f19;
    font-size: 40px;
}
.phone-icon span{
    color: #d80f19;
    font-size: 40px;
}
.visit-icon span{
    color: #d80f19;
    font-size: 40px;
}
.contact-me a{
    background-color: #d80f19;
    font-size: 25px;
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
}
.contact-title{
    color: #d80f19;
    font-family: 'Bebas Neue', cursive;
}